<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Create A New Project</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main id="content">
           
            <center>
                 <navigation></navigation>
                <div>Set Up Your Project</div> 
                <form @submit.prevent="addProject()">
                    <label>Project ID:</label>
                    <input type="text" v-model="project.projectID" required><br>  
                    
                    <label>Name:</label>
                    <input type="text" v-model="project.name" required><br>
                    
                    <label>Description</label>
                    <input type="text" v-model="project.description" required><br>
                    
                    <label>Status:</label>
                    <input type="text" v-model="project.status" required><br>
                    
                    <p></p>
                    <button type="submit">Save Project</button>
                </form> 
                
            </center>      
        
        </main>
        <script type="module" src="js/project.js"></script> 
    </body>
</html>
