<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Project list</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main id="content"> 

            <center>
                <div>
                    <navigation></navigation>
                </div>
                <div>
                    <h1>All projects available here</h1>
                </div>

                <div>
                    <p></p>
                    <input type="text" placeholder="Search.." v-model="query">&nbsp
                    <button @click.prevent = "getProjectByQuery()">Search</button>
                </div>

                <div> 
                    <table>
                        <thead>
                            <tr>&nbsp
                                <th>Project ID</th>
                                <th>Name</th> 
                                <th>Description</th> 
                                <th>Status</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="thisproject in projectsArr">
                                <td>{{thisproject.projectID}}</td> 
                                <td>{{thisproject.name}}</td>
                                <td>{{thisproject.description}}</td>
                                <td>{{thisproject.status}}</td>
                                <td>{{thisproject.date}}</td>
                                <td>
                                    <button @click.prevent="pickProject(thisproject)">View Project</button>
                              
                                </td>
                            </tr> 
                        </tbody>
                    </table>  
                    
                </div>
            </center>
        </main>
        <script type="module" src="js/Project.js"></script>
    </body>
</html>
