<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script> 
    </head>
    <body>
        <main id="content"> 
            <div>
            <navigation></navigation>
            </div>
            <div>Create Student Account</div> 
            <form @submit.prevent="addProject()">
                <label>Student ID:</label>
                <input type="text" v-model="user.studentID" required><br> 

                <label>First Name: </label>
                <input type="text" v-model="user.firstName" required><br>

                <label>Last Name:</label>
                <input type="text" v-model="user.lastName" required><br>

                <label>Interest:</label>
                <input type="text" v-model="user.interest" required><br>

                <label>Description:</label>
                <input type="text" v-model="user.description" required><br>

                <label>Phone Number:</label>
                <input type="text" v-model="user.phoneNumber" required><br>
                
                <label>GPA</label>
                <input type="text" v-model="user.gpa" required><br>
                
                <label>Address:</label>
                <input type="text" v-model="user.address" required><br>

                <label>Email:</label>
                <input type="text" v-model="user.email" required><br>

                <p></p>
                <button type="submit" >Create Account</button>
            </form>
        </main>
        <script type="module" src="js/User.js"></script>
    </body>
</html>
