<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Create Student Account</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script> 
    </head>
    <body>
        <main id="content"> 
            <center>
                <div class="error_stopper"></div>
                <h1>Create Student Account</h1> 
                <form @submit.prevent="registerStudent()">
                    <label class="lables">Student ID:</label>
                    <input type="text" v-model="student.studentID" required><br> 

                    <label class="lables">First Name: </label>
                    <input type="text" v-model="student.firstName" required><br>

                    <label class="lables">Last Name:</label>
                    <input type="text" v-model="student.lastName" required><br>

                    <label class="lables">Interests:</label>
                    <input type="text" v-model="student.interests" required><br>

                    <label class="lables">Description:</label>
                    <input type="text" v-model="student.description" required><br>

                    <label class="lables">Phone Number:</label>
                    <input type="tel" v-model="student.phoneNumber" required><br>

                    <label class="lables">GPA</label>
                    <input type="text" v-model="student.gpa" required><br>

                    <label class="lables">Address:</label>
                    <input type="text" v-model="student.address"><br>
                    <button type="submit" >Create Account</button>
                </form>
            </center>
        </main>
        <script type="module" src="js/user.js"></script>
    </body>
</html>
