<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main id = "content">
            <div>
            <navigation></navigation>
            </div>
            <h1>Supervisor Sign In</h1>
            <div>
                <p>{{signInMessage}}</p>    
                <form @submit.prevent="supervisorSignIn()">
                    <fieldset>
                    <legend>Account Details:</legend>
                    <p>
                        <label> Email:</label>
                        <input type="text" v-model="user.email" required>
                    </p>
                    <p>
                        <label> Password:</label>
                        <input type="password" v-model="user.password" required>
                    </p>
                    
                    <button type="submit">Sign In</button>
                    
                    </fieldset>
                </form>
                <p> If you don't have an account, then you can  <a href="supervisorusersignup.html">create one</a></p>
            </div>
        </main>
        <script type="module" src="js/user.js"></script>
    </body>
</html>
