<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Edit Project</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script> 
    </head>
    <body>
        <main id="content">
            <center>
                <navigation></navigation>
                <h1>My Project</h1>
                <form @submit.prevent="updateProject(project.projectID)">   
                    <h3 class="lables">Project ID: </h3><h3 class="content">{{project.projectID}}</h3>
                    <h3 class="lables">Project Name: </h3><input type="text" v-model="project.name" value="project.name">
                    <h3 class="lables">Description: </h3><input type="text" v-model="project.description" value="project.description">
                    <h3 class="lables">Project Status </h3><input type="text" v-model="project.status" value="project.status">
                    <h3 class="lables">Open date </h3><h3 class="content">{{project.date}}</h3><br>
                    <button type="submit">Save Changes</button>
                </form>
                
            </center>
        </main>
        <script type="module" src="js/Project.js"></script>
    </body>
</html>
