<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Connect With Supervisors</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main id="content"> 

            <center>
                <navigation></navigation>
                <div>
                    <h1>Connect With Supervisors</h1>
                </div>

                <div>
                    <p>Please enter a staff ID</p>
                    <input class="search_bar" type="text" placeholder="Search.." v-model="staffID">&nbsp
                    <button class="search_button" @click.prevent = "searchSupervisor()">Search</button>
                </div>

                <div> 
                    <table>
                        <thead>
                            <tr>&nbsp
                                <th>Staff ID</th>
                                <th>First Name</th>
                                <th>Last Name</th> 
                                <th>Interests</th> 
                                <th>Description</th>
                                <th>Phone Number</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="supervisor in supervisorsArr">
                                <td>{{supervisor.staffID}}</td> 
                                <td>{{supervisor.firstName}}</td>
                                <td>{{supervisor.lastName}}</td>
                                <td>{{supervisor.interests}}</td>
                                <td>{{supervisor.description}}</td>
                                <td>{{supervisor.phoneNumber}}</td>
                                
                                <td>
                                    <button class="table_button" @click.prevent="pickSupervisor(supervisor)">View Supervisor</button>
                                </td>
                            </tr> 
                        </tbody>
                    </table>  
                </div>
            </center>
        </main>
        <script type="module" src="js/supervisor.js"></script>
    </body>
</html>
