<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Supervisor Profile</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main id="content">

            <center> 
                <navigation></navigation>
                <form @submit.prevent="updateSupervisor(supervisor.staffID)">   
                    <h3>StaffID: </h3><h3>{{supervisor.studentID}}</h3>  
                    <h3>Name: </h3><h3>{{supervisor.firstName}} {{supervisor.lastName}}</h3>
                    <h3>Email: </h3><h3>{{user.email}}</h3>
                    <h3>Interests: </h3><input type="text" v-model="supervisor.interests" value="supervisor.interests">
                    <h3>Description: </h3><input type="text" v-model="supervisor.description" value="supervisor.description">
                    <h3>Phone Number: </h3><input type="text" v-model="supervisor.phoneNumber" value="supervisor.phoneNumber">
                    <p><button type="submit">Save Changes</button></p>
                </form>
            </center>

        </main>
        <script type="module" src="js/supervisor.js"></script>
    </body>
</html>
