<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Supervisor Profile Setup</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <script src="js/external/vue.global.js"></script>
        <script src="js/external/vuex.global.js"></script>
        <script src="js/external/vuex-persistedstate.js"></script>
        <script src="js/external/axios.js"></script>
    </head>
    <body>
        <main id="content">
            <center> 
                <div class="error_stopper"></div>
                <h1>Set Up Your Profile</h1>

                <form @submit.prevent="registerSupervisor()">
                    <label class="lables">Staff ID:</label>
                    <input type="text" v-model="supervisor.staffID" required><br>  

                    <label class="lables">First Name:</label>
                    <input type="text" v-model="supervisor.firstName" required><br>

                    <label class="lables">Last Name:</label>
                    <input type="text" v-model="supervisor.lastName" required><br>

                    <label class="lables">Interest:</label>
                    <input type="text" v-model="supervisor.interests" required><br>

                    <label class="lables">Description:</label>
                    <input type="text" v-model="supervisor.description" required><br>

                    <label class="lables">Phone Number:</label>
                    <input type="text" v-model="supervisor.phoneNumber" required><br>

                    <button type="submit">Create Account</button>
                </form> 
            </center> 
        </main> 
        <script type="module" src="js/User.js"></script> 
    </body>

</html>
